.mainPage {
    background-color: lightgreen;
}
.header {
    background-color: black;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}
nav li:hover {
    background-color: lightgreen;
}
.header h1 {
    position: relative;
    bottom: 10px;
    display: inline;
    background-color: lightgreen;
    color: black;
    border-radius: 4px;
    box-shadow: 4px 4px grey;
};
.block {
    display: flex;
    flex-direction: column;
}
.post{
    background-color: lightgreen;
    border: 2px black solid;
}
.postHeader {
    background-color: black;
    color: white;
}
.postDate {
    display: flex;
    align-items: flex-end;
}